@font-face {
    font-family: 'General Sans';
    src: url('../assets/fonts/general-sans.woff2') format('woff2'),
         url('../assets/fonts/general-sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'General Sans', sans-serif;
}